@import '../../extra.scss';
.home-page {
  overflow-x: hidden;
  .tags {
    color: #ffd700;
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    left: 120px;
    font-size: 18px;
    font-family: 'La Belle Aurore', cursive;
    }
    .top-tags {
      bottom: auto;
      top: 35px;
      left:100px;
      @include respond(tab-port){
        left: 5px;
      }
    }

    .bottom-tags{
      @include respond(tab-port){
        left: 5%;
      }
    }
    
    .bottom-tag-html {
    margin-left: -20px;
    }
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    max-height: 90%;

    @include respond(tab-port){
      left: 5%;
      width: 85%;
      background: rgb(123, 123, 123, .4);
      padding: 10px 6px;
    }
  }

  h1 {
    color: #fff;
    font-size: 75px;
    line-height: 53px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;
    line-height: 70px;

    &:before {
      content: '<h1>';
      font-family: 'La Belle Aurore', cursive;
      color: #ffd700;
      font-size: 18px;
      position: absolute;
      margin-top: -40px;
      left: -15px;
      opacity: 0.6;
    }

    &:after {
      content: '<h1/>';
      font-family: 'La Belle Aurore', cursive;
      color: #ffd700;
      font-size: 18px;
      position: absolute;
      margin-top: 18px;
      margin-left: 20px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0.6;
    }

    img {
      margin-left: 20px;
      opacity: 0;
      width: 58px;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
    }
  }

  h2 {
    color: #8d8d8d;
    margin-top: 20px;
    font-weight: 400;
    font-size: 12px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
    position: relative;

    @include respond(tab-port){
      color: rgb(255, 255, 255);
    }

    &:before {
      content: '<p>';
      font-family: 'La Belle Aurore', cursive;
      color: #ffd700;
      font-size: 18px;
      position: absolute;
      margin-top: -24px;
      left: -15px;
      opacity: 0.6;
    }

    &:after {
      content: '<p/>';
      font-family: 'La Belle Aurore', cursive;
      color: #ffd700;
      font-size: 18px;
      position: absolute;
      margin-top: 12px;
      left: -15px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0.6;
    }
  }

  .flat-button {
    color: #ffd700;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    margin-left: 5px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #ffd700;
    margin-top: 25px;
    float: left;
    animation: fadeInAnimation 1s 1.8s backwards;
    white-space: nowrap;

    &:hover {
      background: #ffd700;
      color: #333;
    }
  }
}