$background-color: #050205;
$box-color: #605253;
$box-border: 60px;
$screen-width: 480px;
$screen-height: 320px;

.tv-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100vw;
  max-width: 100vh;
  height: 80vh;
  transform: translate(-50%, -50%);
}

.tv {
  $border-color: darken($box-color, 20);
  $highlight-color: lighten($border-color, 30);
  $shadow-color: darken($border-color, 10);
  $edge-color: lighten($border-color, 35);

  padding-top: 80%;
  background: darken($box-color, 10%);
  border-radius: 2px;
  border: 2px solid darken($edge-color, 10%);
  box-shadow: inset 0 0 18px 0 rgba(0, 0, 0, 0.5),
    0 0 0px 6px darken($box-color, 10%);

  &::after {
    content: "";
    position: absolute;
    display: block;
    // top: 7%;
    // left: 6%;
    // right: 6%;
    // bottom: 19%;
    width: calc(100% - 50px);
    height: calc(100% - 80px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(0deg, transparent, $shadow-color, transparent),
      linear-gradient(34deg, transparent 45%, $highlight-color, transparent 55%),
      linear-gradient(90deg, transparent, $shadow-color, transparent),
      linear-gradient(
        145deg,
        transparent 45%,
        $highlight-color,
        transparent 55%
      );
    z-index: 1;
    border-radius: 4px;
    border: 2px solid $edge-color;
    box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.2),
      0 0 18px 0 rgba(0, 0, 0, 0.5);
  }

  &::before {
    content: "";
    position: absolute;
    width: calc(100% - 80px);
    height: calc(100% - 100px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $background-color;
    opacity: 0.8;
    z-index: 2;
    border-radius: 18%;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  }
}

.tv__screen {
  position: absolute;
  width: calc(100% - 100px);
  height: calc(100% - 120px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 16%;
  overflow: hidden;
  z-index: 2;
  background: white;
  box-sizing: border-box;
  shader-doodle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: $screen-width;
    height: $screen-height;
    transform: translate(-50%, -50%);
  }
}

.tv__panel {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  height: 12%;
  padding: 0 6%;
  justify-content: space-between;

  .tv__switch {
    $switch-color: #646570;

    flex: 0 0 auto;
    width: 6%;
    margin: 0 2.6%;

    &::before {
      content: "";
      display: block;
      padding-top: 100%;
      border-radius: 50%;
      background: linear-gradient(
        120deg,
        $switch-color,
        lighten($switch-color, 24%),
        $switch-color
      );
      box-shadow: inset 0 0 4px 1px lighten($switch-color, 20%),
        0 0 8px 1px rgba(0, 0, 0, 0.42);
    }
  }

  .tv__speaker {
    $gap-width: 4%;

    margin-top: -4.2%;
    height: 118%;
    width: 29%;
    background-image: repeating-linear-gradient(
      90deg,
      transparent,
      black $gap-width / 2,
      black $gap-width,
      transparent $gap-width,
      transparent $gap-width * 2
    );
  }
}

.tv__holders {
  position: absolute;
  bottom: -18px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;

  .tv__holder {
    $holder-color: #101010;

    width: 30px;
    height: 10px;
    background: linear-gradient(
      90deg,
      $holder-color,
      lighten($holder-color, 20%),
      $holder-color
    );
  }
}
