@import "./mixins.scss";

$background-color: #050205;
$box-color: #925022;
$frame-color: #000000;
$box-border: 60px;
$screen-width: 480px;
$screen-height: 320px;
$panel-color: #f0e1be;
$border: #888677;
$gray-60: #666;
$blue: #3570c9;
$orange: #c97300;
$purple: #8c00c9;

.oldTv-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100vw;
  // max-width: 120vh;
  height: 100vh;
  transform: translate(-50%, -50%);
  background-color: #a87956;
  // padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../assets/background1.jpg);
  background-size: contain;

  @include respond(max-sm) {
    height: 94vh;
  }
  // background-image: -webkit-repeating-linear-gradient(
  //     135deg,
  //     transparent,
  //     #101010 25%,
  //     #737373 25%,
  //     transparent 50%,
  //     transparent 50%
  //   ),
  //   -webkit-repeating-radial-gradient(#616161, #222222);
  // background-image: repeating-linear-gradient(
  //   -45deg,
  //   transparent,
  //   #101010 25%,
  //   #737373 25%,
  //   transparent 50%,
  //   transparent 50%
  // );
  // background-size: 6px 6px;
  // background-color: #444;

  // background: $gray-60;
  // background-image: linear-gradient(90deg, $blue 11px, transparent 0),
  //   linear-gradient(90deg, $orange 23px, transparent 0),
  //   linear-gradient(90deg, $purple 41px, transparent 0);
  // background-size: 41px 100%, 61px 100%, 83px 100%;

  // background: linear-gradient(135deg, #fec56b 25%, transparent 25%),
  //   linear-gradient(225deg, #fec56b 25%, transparent 25%),
  //   linear-gradient(315deg, #fec56b 25%, transparent 25%),
  //   linear-gradient(45deg, #fec56b 25%, transparent 25%);

  // background-size: 50px 50px;
  // background-color: #51c5d4;
}
.oldTv {
  position: relative;
  $border-color: darken($box-color, 20);
  $highlight-color: lighten($frame-color, 30);
  $shadow-color: darken($frame-color, 10);
  $edge-color: lighten($border-color, 35);
  width: 90%;
  height: 90%;

  @include respond(max-md) {
    width: 97%;
    height: 100%;
    border-radius: 0;
    gap: 2px;
    padding: 0;
  }
  background: darken($box-color, 10%);
  border-radius: 1%;
  border: 2px solid $border;
  box-shadow: inset 0 0 18px 0 rgba(0, 0, 0, 0.5),
    0 0 0px 6px darken($box-color, 10%);

  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 20px;
  gap: 10px;

  @include respond(max-md) {
    flex-direction: column;
  }
  .oldTv__frame {
    position: relative;
    width: calc(80%);
    height: calc(100%);

    @include respond(max-md) {
      width: 100%;
      height: 100%;
    }
    background: linear-gradient(0deg, transparent, $shadow-color, transparent),
      linear-gradient(32deg, transparent 45%, $highlight-color, transparent 55%),
      linear-gradient(90deg, transparent, $shadow-color, transparent),
      linear-gradient(
        148deg,
        transparent 45%,
        $highlight-color,
        transparent 55%
      );
    background-color: $frame-color;
    z-index: 1;
    border-radius: 30px;
    border: 2px solid $frame-color;
    box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.2),
      0 0 18px 0 rgba(0, 0, 0, 0.5);
    &::before {
      content: "";
      position: absolute;
      width: calc(100% - 100px);
      height: calc(100% - 100px);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: $background-color;
      opacity: 0.8;
      z-index: 2;
      border-radius: 1%;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    }
  }

  .oldTv__panel {
    width: 30%;
    height: 100%;
    border-radius: 4px;
    border: 2px solid $frame-color;
    background: $panel-color;
    box-shadow: inset 0 0 6px 0 rgba(0, 0, 0, 0.2),
      0 0 18px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    padding: 10px;
    padding-bottom: 0px;
    justify-content: start;

    @include respond(max-md) {
      flex-direction: row;
      width: 100%;
      height: auto;
      justify-content: space-around;
      padding: 5px;
    }

    .oldTv__switch {
      $switch-color: #646570;

      flex: 0 0 auto;
      width: 6%;
      margin: 2.6%;

      @include respond(max-md) {
        width: 15px;
        height: fit-content;
      }

      @include respond(max-sm) {
        display: none;
      }

      &::before {
        content: "";
        display: block;
        padding-top: 100%;
        border-radius: 50%;
        background: linear-gradient(
          120deg,
          $box-color,
          lighten($box-color, 24%),
          $box-color
        );
        box-shadow: inset 0 0 4px 1px lighten($box-color, 20%),
          0 0 8px 1px rgba(0, 0, 0, 0.42);
      }
    }

    .oldTv__speaker {
      $gap-width: 4%;
      height: 100px;
      width: 100%;
      background-image: repeating-linear-gradient(
          45deg,
          transparent,
          black 0%,
          black 2%,
          transparent 2%,
          transparent 4%
        ),
        repeating-linear-gradient(
          135deg,
          transparent,
          black 0%,
          black 2%,
          transparent 2%,
          transparent 4%
        );
      @include respond(max-md) {
        width: 20%;
      }
    }
  }
}
.oldTv__logo {
  position: relative;
  .box--gradient {
    // position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    width: 80%;
    // left: 50%;
    font-family: RioGrande;
    font-size: 28px;
    letter-spacing: 1px;
    top: -100%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 0;
    overflow: hidden;

    &:after {
      content: "";
      top: 0;
      transform: translateX(100%) rotate(30deg);
      width: 300%;
      height: 300%;
      position: absolute;
      z-index: 1;
      animation: shine 2s infinite ease-in;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.8) 50%,
        rgba(128, 186, 232, 0) 99%,
        rgba(128, 186, 232, 0) 100%
      );
    }
    &.silver {
      background: linear-gradient(to bottom, #bcc6cc, #eee, #bcc6cc);
    }
    &.gold {
      background: linear-gradient(to bottom, #c39738, #deb761, #c39738);
      &:after {
        animation-delay: 1s;
      }
    }
    &.platinum {
      background: linear-gradient(to bottom, #d5d7e5, #eee, #d5d7e5);
      &:after {
        // animation-delay: 2s;
      }
    }
  }
}
@keyframes shine {
  0% {
    transform: translateX(-100%) translateY(-100%) rotate(30deg);
  }
  80% {
    transform: translateX(-100%) translateY(-100%) rotate(30deg);
  }
  100% {
    transform: translateX(100%) translateY(100%) rotate(30deg);
  }
}
.oldTv__screen {
  position: absolute;
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1%;
  overflow: hidden;
  z-index: 2;
  background: white;
  box-sizing: border-box;
  overflow-y: scroll;

  @include respond(max-md) {
    width: calc(100% - 30px);
    height: calc(100% - 30px);
  }
  @include respond(max-sm) {
    width: calc(100%);
    height: calc(100%);
  }
}

.oldTv__overlays {
  position: absolute;
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  @include respond(max-md) {
    width: calc(100% - 30px);
    height: calc(100% - 30px);
  }
  @include respond(max-sm) {
    width: calc(100%);
    height: calc(100%);
  }

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1%;
  overflow: hidden;
  z-index: 3;
  pointer-events: none;
  // background-color: red;
  box-sizing: border-box;
}

.oldTv__holders {
  position: absolute;
  bottom: -18px;
  left: 10%;
  right: 10%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  // transform: translateY(50%);

  .oldTv__holder {
    $holder-color: #101010;

    width: 30px;
    height: 10px;
    background: linear-gradient(
      90deg,
      $holder-color,
      lighten($holder-color, 20%),
      $holder-color
    );
  }
}

.speaker {
  position: relative;
  width: 106%;
  height: 100%;
  left: -3%;
  justify-self: end;
  background: url(../assets/speaker1.svg);
  background-size: cover;
  margin-top: auto;
  transform: rotate(180deg);

  // img {
  //   object-fit: cover;
  //   transform: rotate(180deg);
  // }
}

.oldTv__radial {
  .radial-slider {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    user-select: none;

    @include respond(max-md) {
      width: 100px;
      height: 100px;
    }

    .knob {
      width: 80%;
      height: 80%;
      position: relative;
      margin: 10%;
      cursor: pointer;

      @include respond(max-md) {
        margin: 0;
        width: 100%;
        height: 100%;
      }
    }

    .teeth {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      width: 100%;
      height: 100%;
      transform: rotateZ(var(--angle));
      // filter: blur(3px) contrast(7);
      // background: white; // Required for the gooey effect

      &::after {
        content: "";
        width: 90%;
        height: 90%;
        border-radius: 100%;
        background: radial-gradient(black 65%, transparent 66%) no-repeat,
          repeating-conic-gradient(
            black 0%,
            1.5%,
            transparent 1.5%,
            transparent 5%
          );
      }
    }

    .cap {
      display: flex;
      border-radius: 100%;
      width: 76%;
      height: 76%;
      position: absolute;
      top: 12%;
      left: 12%;
      box-shadow: 0 0 2px 1px #c7a472;
      background: repeating-conic-gradient(
        from 15deg,
        darken($box-color, 10) 0%,
        darken($box-color, 10) 4%,
        #f4ebd0 10%,
        #f4ebd0 15%,
        darken($box-color, 10) 28%,
        darken($box-color, 10) 30%,
        #f4ebd0 37%,
        #f4ebd0 40%,
        darken($box-color, 10) 45%,
        darken($box-color, 10) 50%
      );

      &::after {
        content: "";
        border-radius: 100%;
        width: 90%;
        height: 90%;
        margin: 5%;
        background: repeating-radial-gradient(
            transparent 0%,
            #f4ebd026 2%,
            transparent 4%
          ),
          repeating-conic-gradient(
            from 15deg,
            darken($box-color, 10) 0%,
            lighten($box-color, 10) 5%,
            darken($box-color, 10) 16%,
            darken($box-color, 10) 34%,
            lighten($box-color, 10) 45%,
            darken($box-color, 10) 50%
          );
        box-shadow: inset 0 0 7px 0px $frame-color;
      }
    }

    .indicator {
      top: 60%;
      left: 48%;
      transform-origin: 50% -50%;
      position: absolute;
      transform: rotateZ(var(--angle));
      width: 4%;
      height: 20%;
      background: black;
      box-shadow: 0 0 2px white;
      border-radius: 30%/10%;
      pointer-events: none;
    }

    .numbers {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      font-size: 1.6rem;
      pointer-events: none;

      .number {
        transform: translateY(-50%) rotateZ(var(--angle)) translateX(-0.4em);
        transform-origin: center;
        position: absolute;
        top: 50%;
        left: 0%;
        width: 100%;

        div {
          transform: rotateZ(calc(-1 * var(--angle)));
          display: inline-flex;
          width: 1.5em;
          justify-content: center;
          margin-left: -0.3em;

          &.line {
            background: black;
            width: 0.07em;
            height: 0.6em;
            transform: rotateZ(90deg) translateY(-0.5em) translateX(0.2em);
            color: transparent;
            margin: 0;
          }
        }
      }
    }
  }
}

$btnColor: $panel-color;
#switch {
  position: absolute;
  z-index: 3;
  width: fit-content;
  top: 1%;
  right: 3%;
  font: bold 3rem Roboto, sans-serif;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 0.08em 0 rgba(255, 255, 255, 0.5);
  // display: inline-block;
  outline: none;
  cursor: pointer;
  padding: 0.2em 0.5em 0.2em;
  border-radius: 0.1em;
  border: 2px solid;
  border-color: color($btnColor shade(20%)) color($btnColor shade(30%))
    color($btnColor shade(40%));
  border-color: color(var($btnColor) shade(20%))
    color(var($btnColor) shade(30%)) color(var($btnColor) shade(40%));
  background-color: $btnColor;
  background-color: var($btnColor);
  background-image: linear-gradient($btnColor, color($btnColor shade(10%)));
  background-image: linear-gradient(
    var($btnColor),
    color(var($btnColor) shade(10%))
  );
  box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.1), 0 0.1em 0.2em rgba(0, 0, 0, 0.3),
    0 -0.1em 0.07em rgba(0, 0, 0, 0.3) inset,
    0 0.1em 0.07em rgba(255, 255, 255, 0.2) inset;
  transition: all 100ms;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  animation-iteration-count: 5;
  animation-delay: 1s;
  perspective: 1000px;

  svg {
    fill: white;
    width: 28px;
    height: 28px;
  }
}

button:hover,
button:focus {
  box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.4), 0 0.1em 0.2em rgba(0, 0, 0, 0.4),
    0 -0.1em 0.07em rgba(0, 0, 0, 0.3) inset,
    0 0.1em 0.07em rgba(255, 255, 255, 0.2) inset;
}

button:active {
  padding: 0.4em 1em 0.4em;
  margin-top: 0.1em;
  border-color: color(#eee shade(30%)) color(#eee shade(20%)) #eee;
  border-color: color(var(#eee) shade(30%)) color(var(#eee) shade(20%))
    var(#eee);
  background-image: linear-gradient(color(#eee shade(5%)), #eee);
  background-image: linear-gradient(color(var(#eee) shade(5%)), var(#eee));
  box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.1) inset,
    0 0.1em 0.1em rgba(0, 0, 0, 0.2) inset,
    0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset,
    -0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset;
  transition-duration: 10ms;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
